<div class="footer">
    <div class="footer__container">
        <div class="footer__container__logotext">
            <div class="footer__container__logotext__logo">
                <img src="assets/images/logo.png" alt="Logo">
                <h1 class="footer_container_logotext_text">X GAMES</h1>
            </div>
        </div>
        <div class="footer__container__right__social">
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../../../assets/images/face.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../../../assets/images/insta.png" alt="Instagram">
            </a>
            <a href="https://www.twitter.com/" target="_blank">
                <img src="../../../assets/images/twit.png" alt="Twitter">
            </a>
        </div>
        <div class="footer__container__right">
            <p>Privacy Policy</p>
            <p>Terms of Service</p>
            <p>About us</p>
        </div>
    </div>
    <div class="footer__container_rights">
        <p>© 2024 - All rights reserved</p>
        <p>Power By Juan José </p>
    </div>
</div>