<div class="header">
    <div class="header_logo">
        <img src="assets/images/logo.png" alt="logo">
    </div>
    <div class="header_links">
        <a href="/">Home</a>
        <a href="gameslist">Games</a>
        <a href="consolelist">Consoles</a>
        <a href="clotheslist">Clothes</a>
        <a href="objectslist">Objects</a>
    </div>
    <div class="header_title">
        <h1>X GAMES</h1>
    </div>
</div>

<!-- https://api.rawg.io/api/games?key=1c8c5e5413244d4ea08852dd2b05fccf&dates=2023-01-01,2024-01-02&ordering=-added -->